{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grand Hotel</title>

     <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>
<body>

 <input type="checkbox" id="check" hidden>

    <nav>

            <div class="main">
                <label for="check">
                     <div class="menu-icon">
                    <div class="line line-1"></div>
                    <div class="line line-2"></div>
                    <div class="line line-3"></div>
                </div>
                </label>

                <div></div>
                <div></div>

        <div class="logo">
            <h4>THE NAVBAR</h4>
        </div>

     </div>

        <form action="" class="navigation-search">
            <input type="text"
                   class="navigation-search-input"
                   placeholder="Search..."
            >
            <button class="navigation-search-btn">
                <i class="fas fa-search"></i>
            </button>
        </form>

        <ul class="nav-links">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#">Work</a>
            </li>
            <li>
                <a href="#">Projects</a>
            </li>
        </ul>
    </nav>

    <div class="sidebar">
        <div class="sidebar-content">
           
        </div>
    </div>

    <div class="filter-header">
        <div class="filters">
            <div class="box">
                <select name="yyy" id="yyy">
                    <option value="">Choose...</option>
                    <option value="aaa">aaa</option>
                    <option value="bb">bb</option>
                    <option value="cc">cc</option>
                </select>
            </div>

            <div class="box">
                <select name="xxx" id="xxx">
                    <option value="">Choose...</option>
                    <option value="aaa">aaa</option>
                    <option value="bb">bb</option>
                    <option value="cc">cc</option>
                </select>
            </div>
        </div>

        <div class="buttons">
            <button class="reset">Reset</button>
            <button class="submit">Submit</button>
        </div>
    </div>

 <div class="test">
     <div class="ticket">
         <div class="ticket-icon">
             <i class="far fa-clipboard"></i>
         </div>
         <div class="ticket-main">
             <h3>Some title</h3>
             <p class="desc">Some description some description some description some description</p>
         </div>
         <div class="ticket-properties">
             <i class="fas fa-edit"></i>
             <i class="fas fa-trash-alt"></i>
         </div>
     </div>

     <div class="ticket">
         <div class="ticket-icon">
             <i class="far fa-clipboard"></i>
         </div>
         <div class="ticket-main">
             <h3>Some title</h3>
             <p class="desc">Some description some description some description some description</p>
         </div>
         <div class="ticket-properties">
             <i class="fas fa-edit"></i>
             <i class="fas fa-trash-alt"></i>
         </div>
     </div>

     <div class="ticket">
         <div class="ticket-icon">
             <i class="far fa-clipboard"></i>
         </div>
         <div class="ticket-main">
             <h3>Some title</h3>
             <p class="desc">Some description some description some description some description</p>
         </div>
         <div class="ticket-properties">
             <i class="fas fa-edit"></i>
             <i class="fas fa-trash-alt"></i>
         </div>
     </div>

     <div class="ticket">
         <div class="ticket-icon">
             <i class="far fa-clipboard"></i>
         </div>
         <div class="ticket-main">
             <h3>Some title</h3>
             <p class="desc">Some description some description some description some description</p>
         </div>
         <div class="ticket-properties">
             <i class="fas fa-edit"></i>
             <i class="fas fa-trash-alt"></i>
         </div>
     </div>

     <div class="ticket">
         <div class="ticket-icon">
             <i class="far fa-clipboard"></i>
         </div>
         <div class="ticket-main">
             <h3>Some title</h3>
             <p class="desc">Some description some description some description some description</p>
         </div>
         <div class="ticket-properties">
             <i class="fas fa-edit"></i>
             <i class="fas fa-trash-alt"></i>
         </div>
     </div>

     <div class="ticket">
         <div class="ticket-icon">
             <i class="far fa-clipboard"></i>
         </div>
         <div class="ticket-main">
             <h3>Some title</h3>
             <p class="desc">Some description some description some description some description</p>
         </div>
         <div class="ticket-properties">
             <i class="fas fa-edit"></i>
             <i class="fas fa-trash-alt"></i>
         </div>
     </div>

     <div class="ticket">
         <div class="ticket-icon">
             <i class="far fa-clipboard"></i>
         </div>
         <div class="ticket-main">
             <h3>Some title</h3>
             <p class="desc">Some description some description some description some description</p>
         </div>
         <div class="ticket-properties">
             <i class="fas fa-edit"></i>
             <i class="fas fa-trash-alt"></i>
         </div>
     </div>

     <div class="ticket">
         <div class="ticket-icon">
             <i class="far fa-clipboard"></i>
         </div>
         <div class="ticket-main">
             <h3>Some title</h3>
             <p class="desc">Some description some description some description some description</p>
         </div>
         <div class="ticket-properties">
             <i class="fas fa-edit"></i>
             <i class="fas fa-trash-alt"></i>
         </div>
     </div>
 </div>



<script src="{% static 'index.js' %}"></script>
</body>
</html>