* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #eee;
}

.main {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-between;
}

.logo {
    color: #03005f;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 650px;
    padding: 10px 15px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    letter-spacing: .1rem;
    outline: none;
    border: 1px solid #555;
    border-radius: 10rem;
    transition: background-color .3s;
}

.navigation-search-input:focus {
    background-color: rgba(0, 0, 0, .3);
}

.navigation-search-btn {
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
}

.navigation-search-btn:focus {
    outline: none
}

.line {
    height: 5px;
    width: 35px;
    background-color: #222;
    margin-bottom: 4px;
}

.line-1, .line-3 {
    width: 28px;
    transition: all .4s;
}

.sidebar {
    left: -200px;
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: #eee;
    z-index: 10;
    transition: left 1s cubic-bezier(1, 0, 0, 1);
    display: flex;
    justify-content: center;
}

.sidebar-toggle {
    width: 0;
}

.menu-icon:hover .line {
    width: 35px;
}

#check:checked ~ .sidebar {
    left: 0;
}

.test {
    margin: 25px auto;
    width: 60%;
    text-align: justify;
}

.ticket {
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 15px;
}

.fa-clipboard {
    font-size: 35px;
    margin: 5px 10px;
}

.fa-edit, .fa-trash-alt {
    font-size: 20px;
    margin: 12px 10px;
}

.ticket {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.ticket-main {
    margin: 5px 15px;
    width: 85%;
}

.desc {
    font-size: 14px;
}