* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #eee;
}

.main {
    display: flex;
    flex-direction: row;
    width: 25%;
    justify-content: space-evenly;
}

.logo {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 16px;
}

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 650px;
    padding: 10px 15px;
    background-color: #fff;
    font-size: 14px;
    color: #000;
    letter-spacing: .1rem;
    outline: none;
    border: 1px solid #555;
    border-radius: 10rem;
    transition: background-color .3s;
}

.navigation-search-input:focus {
    background-color: rgba(0, 0, 0, .3);
}

.navigation-search-btn {
    border: none;
    background-color: transparent;
    color: #000;
    font-size: 20px;
    position: absolute;
    top: 8px;
    right: 15px;
    cursor: pointer;
}

.line {
    height: 5px;
    width: 35px;
    background-color: #222;
    margin-bottom: 4px;
}

.line-1, .line-3 {
    width: 28px;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #eee;
    position: fixed;
    z-index: 10;
}